.fa-brands{
    color: black;
}
.container_1{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    
  
}
.px3{
    margin-left: 30px;
    
}

.svg{
    width: 50%;
    height: 55%;
}
